{% extends 'base.html' %}

{% block content %}
<h1 class="header">{% block pageheader %} Thank you for your interest! {% endblock %}</h1>

<p style="text-align:center">Steve is especially grateful for the <a href='https://www.yelp.com/dataset' target="_blank"><img src='../static/img/yelp_logo.png'> Academic Dataset</a>.</p>

<hr style="margin-top: 2rem;">

<h2 class="header">{% block headers %} Contact Information  {% endblock %}</h1>

<p style="text-align: center;">Steve's email address: schluchter at geeemale daaaht caaahhhmmm.  (No, I'm not from Boston, but I did enjoy passing through the city. :))</p>

<hr style="margin-top:2rem;">

<h2 class="header">About Steve</h2>

<p style="text-align: center;">I did this project because I'm interested in NLP, sentiment analysis, and anything one can do with computers, maths and stats, and data.</p>

<p class="bottom-part" style="text-align:center;">I enjoy making a little bit of insight go a long way, no matter the context.</p>

{% endblock %}